<h1>Hello World!!!</h1>
<p>  Welcome to my website in ruby on rails.</p>

<ul>
	<li>
		<%= link_to "Cadastro de Moedas", coins_path %>
	</li>
</ul>

<p>
<h1>
	Curious Facts
</h1>
</p>

<p>
A soma é de 1 + 1 é: <%= 1 + 1 %>


</p>

<p>
My name backwards is:  <%= "Cleidson".reverse %>

</p>

<% a = "My variable A" %>
<p>
Printing my variable A <%= a %>

</p>

<p>
Today's date is: <%= Date.today %>

</p>

