<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong>Acronyn:</strong>
  <%= @coin.acronyn %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @coin.url_image %>" width="25px" height="25px" /> 
</p>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coins_path %>
